@model Product

<h1>Edit Product</h1>

<form method="post">
	<div class="mb-3 row p-1">
		<label class="p-0">Product Name</label>
		<input asp-for="Name" type="text" class="form-control" />
	</div>
	<div class="mb-3 row p-1">
		<label class="p-0">Product Price</label>
		<input asp-for="Price" class="form-control" />
	</div>
	<div class="mb-3 row p-1">
		<label class="p-0">Product Description</label>
		<input asp-for="Description" class="form-control" />
	</div>
	<div class="mb-3 row p-1">
		<label class="p-0">Product Category</label>
		<input asp-for="CategoryId" class="form-control" />
	</div>

	<button type="submit" class="btn btn-primary form-control">Edit</button>
	<a asp-controller="Product" asp-action="Index" class="btn btn-primary">
		Back To Products
	</a>
</form>
