@model WishlistVM
<div class="align-content-center text-black-50">
	<h1>Your Wishlist</h1>
	<div class=" col-md-10 offset-md-1">
		@foreach(var item in Model.WishList)
		{
			<div class="col-12 col-lg-6 pt-md-3">
				<h3 class="text-uppercase text-secondary"><strong>@item.Product.Name</strong></h3>
				<p><small>@item.Product.Description</small></p>
			</div>
			<div class="d-none d-lg-block col-lg-1 text-center py-2">
				<img src="@item.Product.ImageUrl" class="rounded" width="20%" />
			</div>
		}
	</div>
</div>

